<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="static/js/jquery.min.js"></script>
        <link rel="stylesheet" href="static/css/base.css">
        <title>upload photo</title>
    <head>
    <body>
        <h2>Upload------<a href="/">Back</a></h2>
        <p>
            <input type="file" name="file" multiple id="myfileinput">
            <div class="preview" id="preview"></div>
            <label class="filebtn" for="img" title="JPG,GIF,PNG">Please choose multiple photos</label>
        </p>
        <p><input type="submit" id="submit"></p>

        <script src="static/js/upload.js"></script>
    </body>
</html>